USE [master]
GO
/****** Object:  Database [rmpawonjnana]    Script Date: 17/01/2026 08:34:40 ******/
CREATE DATABASE [rmpawonjnana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rmpawonjnana', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\rmpawonjnana.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rmpawonjnana_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\rmpawonjnana_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rmpawonjnana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rmpawonjnana]
GO
/****** Object:  Table [dbo].[Pesanan]    Script Date: 17/01/2026 08:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesanan](
	[id_pesanan] [int] IDENTITY(1,1) NOT NULL,
	[id_transaksi] [int] NOT NULL,
	[id_menu] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[total_harga] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[tanggal] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pesanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[laporan_pemesanan]    Script Date: 17/01/2026 08:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[laporan_pemesanan] AS
SELECT 
    id_pesanan,
    CAST(tanggal AS DATE) AS tanggal,
    SUM(total_harga) OVER (PARTITION BY CAST(tanggal AS DATE)) AS total_penjualan,
    COUNT(id_pesanan) OVER (PARTITION BY CAST(tanggal AS DATE)) AS jumlah_pesanan
FROM Pesanan;
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 17/01/2026 08:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](12) NOT NULL,
	[password] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 17/01/2026 08:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id_menu] [int] IDENTITY(1,1) NOT NULL,
	[nama_menu] [varchar](100) NOT NULL,
	[harga] [decimal](10, 2) NOT NULL,
	[stok] [int] NOT NULL,
	[kategori] [varchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pembayaran]    Script Date: 17/01/2026 08:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pembayaran](
	[id_transaksi] [int] IDENTITY(1,1) NOT NULL,
	[metode_pembayaran] [varchar](20) NOT NULL,
	[tanggal] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[total_bayar] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id_admin], [username], [password]) VALUES (1, N'admin', N'12345678')
INSERT [dbo].[Admin] ([id_admin], [username], [password]) VALUES (2, N'owner', N'12345678')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id_menu], [nama_menu], [harga], [stok], [kategori], [created_at], [updated_at]) VALUES (1, N'Americano', CAST(18000.00 AS Decimal(10, 2)), 25, N'minuman', CAST(N'2025-11-30T17:48:21.543' AS DateTime), CAST(N'2025-11-30T17:48:21.543' AS DateTime))
INSERT [dbo].[Menu] ([id_menu], [nama_menu], [harga], [stok], [kategori], [created_at], [updated_at]) VALUES (2, N'Caffè Latte', CAST(22000.00 AS Decimal(10, 2)), 20, N'minuman', CAST(N'2025-11-30T17:48:21.543' AS DateTime), CAST(N'2025-11-30T17:48:21.543' AS DateTime))
INSERT [dbo].[Menu] ([id_menu], [nama_menu], [harga], [stok], [kategori], [created_at], [updated_at]) VALUES (3, N'Cappuccino', CAST(24000.00 AS Decimal(10, 2)), 18, N'minuman', CAST(N'2025-11-30T17:48:21.543' AS DateTime), CAST(N'2025-11-30T17:48:21.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Pembayaran] ON 

INSERT [dbo].[Pembayaran] ([id_transaksi], [metode_pembayaran], [tanggal], [created_at], [total_bayar]) VALUES (1, N'undefined', CAST(N'2025-12-16T10:49:09.977' AS DateTime), CAST(N'2025-12-16T10:49:09.977' AS DateTime), CAST(0.00 AS Decimal(12, 2)))
INSERT [dbo].[Pembayaran] ([id_transaksi], [metode_pembayaran], [tanggal], [created_at], [total_bayar]) VALUES (2, N'TUNAI', CAST(N'2025-12-16T10:54:20.587' AS DateTime), CAST(N'2025-12-16T10:54:20.587' AS DateTime), CAST(104000.00 AS Decimal(12, 2)))
INSERT [dbo].[Pembayaran] ([id_transaksi], [metode_pembayaran], [tanggal], [created_at], [total_bayar]) VALUES (3, N'undefined', CAST(N'2025-12-16T14:17:39.750' AS DateTime), CAST(N'2025-12-16T14:17:39.750' AS DateTime), CAST(40000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Pembayaran] OFF
GO
SET IDENTITY_INSERT [dbo].[Pesanan] ON 

INSERT [dbo].[Pesanan] ([id_pesanan], [id_transaksi], [id_menu], [qty], [total_harga], [status], [tanggal], [created_at], [updated_at]) VALUES (1, 1, 1, 2, CAST(36000.00 AS Decimal(12, 2)), N'selesai', CAST(N'2025-12-16T10:49:10.033' AS DateTime), CAST(N'2025-12-16T10:49:10.033' AS DateTime), CAST(N'2025-12-16T10:49:10.033' AS DateTime))
INSERT [dbo].[Pesanan] ([id_pesanan], [id_transaksi], [id_menu], [qty], [total_harga], [status], [tanggal], [created_at], [updated_at]) VALUES (2, 1, 2, 2, CAST(44000.00 AS Decimal(12, 2)), N'selesai', CAST(N'2025-12-16T10:49:10.037' AS DateTime), CAST(N'2025-12-16T10:49:10.037' AS DateTime), CAST(N'2025-12-16T10:49:10.037' AS DateTime))
INSERT [dbo].[Pesanan] ([id_pesanan], [id_transaksi], [id_menu], [qty], [total_harga], [status], [tanggal], [created_at], [updated_at]) VALUES (3, 2, 1, 2, CAST(36000.00 AS Decimal(12, 2)), N'selesai', CAST(N'2025-12-16T10:54:20.603' AS DateTime), CAST(N'2025-12-16T10:54:20.603' AS DateTime), CAST(N'2025-12-16T10:54:20.603' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pesanan] OFF
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Pembayaran] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[Pembayaran] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Pembayaran] ADD  DEFAULT ((0)) FOR [total_bayar]
GO
ALTER TABLE [dbo].[Pesanan] ADD  DEFAULT ('selesai') FOR [status]
GO
ALTER TABLE [dbo].[Pesanan] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[Pesanan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Pesanan] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Pesanan]  WITH CHECK ADD  CONSTRAINT [FK_Pesanan_Menu] FOREIGN KEY([id_menu])
REFERENCES [dbo].[Menu] ([id_menu])
GO
ALTER TABLE [dbo].[Pesanan] CHECK CONSTRAINT [FK_Pesanan_Menu]
GO
ALTER TABLE [dbo].[Pesanan]  WITH CHECK ADD  CONSTRAINT [FK_Pesanan_Pembayaran] FOREIGN KEY([id_transaksi])
REFERENCES [dbo].[Pembayaran] ([id_transaksi])
GO
ALTER TABLE [dbo].[Pesanan] CHECK CONSTRAINT [FK_Pesanan_Pembayaran]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD CHECK  (([kategori]='minuman' OR [kategori]='makanan'))
GO
USE [master]
GO
